*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color:black;
    color: white;
  margin-bottom:80px;
position: fixed;
top: 0;
z-index: 1000;
box-shadow: 10px 0 8px black;
padding-right: 10px;
 }
 .title{
    height: 100%;
    min-width: 80px;
 }
 header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    
 }
 nav{
    display: flex;
    flex-direction: row;
   
 
 }
 nav ul{
   display: flex;
   list-style: none;
   width: 100%;
   height: 100%;

 }

 /* animation of underline in navigation starting here and end up to a:hover  */
 
 nav ul li{
   position:relative;
   margin-right: 10px;
   font-family: sans-serif;
   font-weight:600;
 }

 nav ul li a::before{
   content:'';
   background-color: red;
   position:absolute;
   bottom: -2px;
   left: 0;
   height:2px;
   width:0%;
   transition: width ease 0.4s;
 }

 nav ul li a:hover::before{
   width: 90%;
 }
 nav ul li a:hover{
   color: red;
 }

 

 header h1{
    margin-left: 20px;
 }
 header h2{
    margin-right: 30px;
 }

 .login{
   margin-right: 30px;
 }
 .login .alogo:hover{
    background-color: transparent;
 }
 header div img{
    width: 40px;
 }
 .login img{
   cursor: pointer;
 }
 .login img:hover{
   transform: scale(1.05);
 }
 
 #sidebar-active,.open-sidebar-button,.close-sidebar-button{
    display:none;
 }
 #login{
    display: none;
 }
  
 @media (max-width:790px){
    #login{
        display: block;
    }
    header img{
        margin-right: auto;
    }
    .login{
        display: none;
    }
    nav{
        width: 300px;
        height: 500px;
        position: fixed;
        top: 0;
        right: 0;
        right: -100%;
        background-color:black;
        box-shadow: 1px 0 10px black;
        transition: right ease 0.35s;
        border-radius: 10px;
    }
    .open-sidebar-button,.close-sidebar-button{
    display:block;
 }
  .open-sidebar-button{
   margin-right: 30px;
  }
 svg{
    fill: red;
    cursor: pointer;
 }
    nav ul{
        flex-direction: column;
        height: auto;
       align-items: flex-start;
       padding: 10px;
       gap: 50px;
       margin: 8px 10px;
    }
    #sidebar-active:checked ~ nav{
        right: 0;
    }
  
 }
 
.videoback{
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    position: relative;
}
.videoback video{
   
    position: absolute;
    object-fit: cover;
    z-index:-1;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;

}
.container2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   gap: 50px;
   position: absolute;
   top: 50px;
   left: 0;
   bottom: 0;
   right: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.container2 button{
    z-index: 1;
    width:250px;
    height: 60px;
    background: #111111; 
    color: #BD1F1E; 
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #BD1F1E; 
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
.container2 button:hover{
    background: #BD1F1E; 
    color: white; 
    box-shadow: 0 0 15px #BD1F1E;
    transform: scale(1.05);
}
.container2 a{
    border: 1px solid transparent;
    border-radius: 15px;
}
.highlite{
   color: white;
   font-size: 1.3em;
}
.videoback  h1{
    font-size: clamp(3rem, 10vw, 6.25rem);
    font-family:'pupile' ,sans-serif;
    color: #BD1F1E;
    margin-top:80px;
    text-align: center;
   font-weight: light;
   text-transform: uppercase;
   width: 100vw;
}
@media (min-width:540px) and (max-width:1328px) {
   container2{
      top:30px;
   };
}

.aboutus{
   display: flex;
   width: 100vw;
   height: 100vh;
   align-items: center;
   justify-content: center;
   border-bottom:2px solid white;
   border-top: 2px solid white;
    background-image: url('ropeback.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.About{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   
}
.About h1{
    color: #FF0000;
    text-align: center;
    font-size:clamp(2rem, 4vw, 4rem);
   padding-top: 10px;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
text-transform: uppercase;
font-weight: 700;
  letter-spacing: 2px;

}
.About h2{
   color: #FF0000;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    text-align: center;
}
.About li{
    color:white;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-family: sans-serif;
    font-weight: 480;
    line-height: 1.6;
    max-width:800px;
    text-align: center;
    margin:0 auto;
    list-style: none;
}

.About hr{
    width: 80%;
    margin: 20px auto;
    background-color: red;
   height: 3px;
   border: none;
}
.About a, button{
   width: 250px;
   border:0.5px solid white;
   margin:0 auto;
   height: 58px;
   color: white;
   border-radius: 12px;
   font-size:18px;
   font-weight: bold;
   background-color: red;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}
.About button:hover{
    background-color: black;
    color: red;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
    border: 1px solid red;
}

.Testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    height: 100vh;
    flex-wrap: wrap;
    width: 100vw;
 background-image: url('pexels-tima-miroshnichenko-5327533.jpg');
    background-position:center;
    background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;
position: relative;
overflow: hidden;
overflow-wrap: break-word;
border-bottom:2px solid red;
}
.Testimonial::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: inherit;
 filter: blur(2px);
 z-index: 0;
 background: rgba(0, 0, 0, 0.7);
}
.box {
 position: relative;
 z-index: 1;
}


.box{
   font-family: 'pupile' ,sans-serif;
    padding: 20px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0.5px solid transparent;
    min-height: 400px;
background-color: white;
box-shadow: 0px 0px 10px  black;
color: black;
font-size: 13px;
transition: all ease 0.3s;
}
.box:hover{
   transform: translateY(-10px);
}

@media (max-width: 768px) {
   .box {
     width: 90%; 
   }
 }
.upper-content{
    display: flex;
 gap: 20px;
 align-items: center;
   
}

.upper-content img{
    width: 50px;
    height: 50px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50%;
}
.box p{
    font-size: 1.2em;
    line-height: 1.5;
}
.upper-content h1{
  
    font-weight: lighter;
    font-size: 25px;
}
.Contact{
   background-image: url('Untitled\ design.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 700px;
   width:100vw;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;

 
 
}
.form{
   width:50vw;
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
iframe{
   width:100%;
   height: 80%;

}
 .contact-heading h1{
    text-align: center;
   color: red;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 3.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
 }
 .contact-heading{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
 }
 .contact-heading p{
     font-size:1.5rem;
     color: #D3D3D3;
     max-width:600px;
     text-align: center;
 }
 .social-media img{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
 }
 
 .social-media a{
    margin-right: 30px;
 }
 .social-media a:hover{
   background-color: transparent;
  
 }
 footer{
    display: flex;
    justify-self: center;
    align-items: center;
    min-width: 100vw;
    height: 50px;
    
    background-color: black;
    
 }
 footer p{
    color: white;
   margin: 0 auto;
 }

 /* Using Media query for other devices to adopt screen sizel; */

